@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.grid-cols-auto-fit {
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 400px), 1fr));
}
